{% extends 'base.html' %}
{% block title %}
KimoBlog New Blog Post
{% endblock %}

{% block content %}
<div class="row">
    <div class="col s8 offset-s2">
        <div class="card">
            <div class="card-content">
                <form method="POST">
                    <div class="row">
                        <div class="input-field col s12">
                          <input id="subject" name="subject" type="text" class="validate" value="{{ blog.subject }}">
                          <label for="username">Subject</label>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="body" class="materialize-textarea" name="body">{{ blog.body }}</textarea>
                        <label for="textarea1">Body</label>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <input type="submit" class="btn btn-raised waves-effect waves-light green" value="Submit">
                            <a href="/blog/{{blog.key.id()}}" class="btn">Cancel</a>
                        </div>
                    </div>
                    {{ error }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}